.row
  .col-md-4.col-md-offset-4
    %h1
      Add Recipe
    %hr
      %form.input-form{ ng_submit: 'addRecipe()' ,name:'addRecipeForm'}
        .form-group.has-feedback{ng_class:"{ 'has-error' : addRecipeForm.title.$error.required  && addRecipeForm.title.$dirty ,'has-success' :  addRecipeForm.title.$dirty }"}
          %input.form-control{type: 'text', ng_model: 'newRecipe.title', placeholder: 'title' ,name:'title',id: 'titleInput'  , required:''}
          %span.glyphicon.form-control-feedback{ng_class:"{ 'glyphicon-remove' : addRecipeForm.title.$error.required && addRecipeForm.title.$dirty ,'glyphicon-ok' : addRecipeForm.title.$dirty}"}
          %p{ng_show:'addRecipeForm.title.$error.required  && !addRecipeForm.title.$pristine', class:"help-block"}
            This is required.
        .form-group
          %input{type:"file" ,ng_file_select:"onFileSelect($files)"}
        .form-group
          Rating :
          %uib-rating{ ng_model: 'newRecipe.rating', readonly: 'isReadonly', on_hover: 'hoveringOver(value)', on_leave:"overStar = null", titles: "['one','two','three','four ','five']", aria_labelledby: 'default-rating' }
          {{newRecipe.rating}}
        .form-group
          Ingredients :
        .form-group.has-feedback{ng_class:"{ 'has-error' : addRecipeForm.description.$error.required  && addRecipeForm.description.$dirty ,'has-success' :  addRecipeForm.description.$dirty }"}
          %textarea.form-control{ ng_model: 'newRecipe.description' , placeholder: 'description',name:'description',id: 'descriptionInput'  , required:''}
          %span.glyphicon.form-control-feedback{ng_class:"{ 'glyphicon-remove' : addRecipeForm.description.$error.required && addRecipeForm.description.$dirty ,'glyphicon-ok' : addRecipeForm.description.$dirty}"}
          %p{ng_show:'addRecipeForm.description.$error.required  && !addRecipeForm.description.$pristine', class:"help-block"}
            This is required.
        .form-group
          %button.btn{type: 'submit', value:'add',ng_disabled: 'addRecipeForm.$invalid' }
            Add