.top-content
  .inner-bg
    .container
      .col-sm-6.col-sm-offset-3.form-box
        .form-top
          .form-top-left
            %h3
              Login to our site
            %p
              Enter username and password to log on:
          .form-top-right
            %i.fa.fa-key
        .form-bottom.contact-form
          %form.input-form{ ng_submit: 'login()' ,name:'loginForm'}
            .form-group.has-feedback{ng_class:"{ 'has-success' : loginForm.email.$valid && loginForm.email.$dirty,'has-error': loginForm.email.$invalid && loginForm.email.$dirty }"}
              %input.form-control{ ng_model: 'user.email', placeholder: 'Email', type: 'email' ,name:'email',id:'inputEmail'}
              %span.glyphicon.form-control-feedback{ng_class:"{'glyphicon-ok' : loginForm.email.$valid && loginForm.email.$dirty, 'glyphicon-remove' : loginForm.email.$invalid && loginForm.email.$dirty}"}
              %p{ng_show:'loginForm.email.$invalid && !loginForm.email.$pristine', class:"help-block"}
                Enter a valid email.
            .form-group.has-feedback{ng_class:"{'has-success' : loginForm.password.$valid && loginForm.password.$dirty,'has-error': (loginForm.password.$invalid || loginForm.password.$error.required) && loginForm.password.$dirty }"}
              %input.form-control{ ng_model: 'user.password', placeholder: 'Password', type: 'password',name:'password',id:'inputPassword' , required:'' }
              %span.glyphicon.form-control-feedback{ng_class:"{'glyphicon-ok' : loginForm.password.$dirty && loginForm.password.$valid ,'glyphicon-remove' : (loginForm.password.$invalid || loginForm.password.$error.required) && loginForm.password.$dirty}"}
              %p{ ng_show:'loginForm.password.$invalid && !loginForm.password.$pristine', class:"help-block"}
                Invalid password.
              %p{ ng_show:'loginForm.password.required && !loginForm.password.$pristine', class:"help-block"}
                This is required.
            %button.btn{ type: 'submit', value: 'Log In',ng_disabled: 'loginForm.$invalid' }
              Sign in
