.row
  .col-md-6.col-md-offset-3{ ng_controller: 'homeCtrl' }
    %h1
      Recipes
    %hr
      %p{ ng_show:  "signedIn()" }
        Welcome {{ user.email }}
      .form-group.has-feedback
        %input.form-control{:placeholder => 'Search: ',type: 'text', ng_change: 'searchRecipe()' ,ng_model: 'search'}
      %ul{ng_repeat: 'recipe in recipes'}
        %li.list-group-item{ng_click: 'detailsRecipe(recipe)',data_toggle: "modal", data_target: "#timerecord"}
          .media
            %img.thumbnail.pull-left{alt:'photo'}
            .media-body
              %h4.media-heading
                %small.pull-right
                  %uib-rating{ ng_model: 'recipe.rating', readonly: 'true', titles: "['one','two','three','four','five']", aria_labelledby: 'default-rating' }
                %p
                  {{recipe.title}}
              %p.hidden-xs
                {{recipe.description}}
              %ul{ng_repeat: 'ingredient in recipe.list_recipe_ingredients'}
                %li
                  {{ingredient.recipe_ingredient.name}}
            .media-bottom
              %small.pull-right
                publié : {{recipe.created_at  | date:'dd/MM/yyyy' }} par {{recipe.user.name}}
      %button{ng_click: 'loadNextPage()'}
        Next
      %button{ng_click: 'loadPreviousPage()'}
        Previous