.row
  .col-md-6.col-md-offset-3
    %h1
      User Recipes bla bla bla
    %hr
      .form-group
        %a{aria_label:'Left Align',href: '#/recipe/add'}
          %span.glyphicon.glyphicon-floppy-disk{aria_hidden:'true'}
          add new recipe
      %ul{ng_repeat: 'recipe in userRecipe'}
        %li.list-group-item{ng_click:'detailRecipe(recipe)'}
          .media
            %span{ng_click: 'deleteRecipe(recipe.id)'}
              X
            %img.thumbnail.pull-left{alt:'photo'}
            .media-body
              %h4.media-heading
                %small.pull-right
                  %uib-rating{ ng_model: 'recipe.rating', readonly: 'true', titles: "['one','two','three','four','five']", aria_labelledby: 'default-rating' }
                %p
                  {{recipe.title}}
              %p.hidden-xs
                {{recipe.description}}
            .media-bottom
              %small.pull-right
                publié : {{recipe.created_at  | date:'dd/MM/yyyy' }} par {{recipe.user.name}}